

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/*--------------------------------------- CARTWIDGET ---------------------------------------*/

#lblCartCount {
  font-size: 12px;
  background: #C06B67;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
}
.badge {
padding-left: 9px;
padding-right: 9px;
-moz-border-radius: 9px;
border-radius: 9px;
}
/*--------------------------------------- H1 ---------------------------------------*/

@font-face {
  font-family: script-font;
  src: url(./fonts/NothingYouCouldDo-Regular.ttf);
}
.greeting {
  color:#C06B67;
  font-family: script-font;
}